{% for tag in tags|slice(0, 6) %}
    <span class="rounded-full text-xs leading-5 {{ colors.bg }} {{ colors.textdarkbg }} px-1 md:px-2 inline-flex font-semibold">
        {{ tag }}
    </span>
{% endfor %}
