{% for tag in tags %}
    <span class="rounded-full text-xs leading-5 bg-yellow-500 dark:bg-yellow-700 dark:text-black px-1 md:px-2 inline-flex font-semibold">
        {{ tag }}
    </span>
{% endfor %}
