---
layout: default
title: Games
permalink: /games/
---
<div>
    {% assign games = site.games | reverse %}
    {% for game in games %}
        <div class="project">
            <h2>
                {% if game.game.type == 'none' %}
                {{ game.title }}
                {% else %}
                <a href="{{ game.url }}">{{ game.title }}</a>
                {% endif %}
            </h2>
            <div class="row">
                <div class="col-xs-12 {% if game.image %}col-md-6{% endif %}">
                    {{ game.content }}
                </div>

                {% if game.image %}
                <div class="col-xs-12 col-md-6">
                    <div class="row">
                        <a href="{% if game.game.type == 'none' %}javascript:void(0);{% else %}{{ game.url }}{% endif %}" class="thumbnail">
                            <img src="{{ game.image }}" />
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
