.experience {
    header {
        font-size: 1.2rem;
        background: darken($color-bg, 3%);
        padding: 10px;

        small {
            text-transform: none;
            display: block;
            color: $color-font-light;
            font-size: 1rem;
        }
    }

    article {
        padding: 10px;
    }
}
