<h1 class="main">
    <a href="http://mopolo.fr">Mopolo.fr</a>
</h1>

<nav class="top-menu">
    <a class="menu" href="/">Home</a>
    //
    <a class="menu" href="/about">About</a>
    //
    <a class="menu" href="/experience">Experience</a>
    <span class="hidden-xs">//</span>
    <a class="menu" href="/contact">Contact</a>
    //
    <a class="menu" href="/work">Work</a>
    //
    <a class="menu" href="/projects">Projects</a>
    <span class="hidden-xs">//</span>
    <a class="menu" href="/games">Games</a>
    //
    <a class="menu" href="https://github.com/Mopolo">Github</a>
</nav>
