<head>
    <!-- COIN -->
    <meta charset="UTF-8" />
    <title>{% if page.title %}{{ page.title }} &middot; {% endif %}{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" type="image/png" href="/favicon.png"/>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/magnific-popup.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <script type="text/javascript" src="/js/jquery-2.0.0.min.js"></script>
</head>
