nav {
    margin-bottom: 30px;

    a {
        &.active {
            color: #e74c3c;
            position: relative;
            top: -1px;
        }

        &:hover, &:focus, &:active {
            text-decoration: none;
            color: #DBA14E;
        }
    }
}
