h1.main {
    a {
        color: $text-color;

        &:hover {
            text-decoration: none;
        }
    }
}

nav.top-menu {
    margin-bottom: 30px;

    font-size: 20px;

    @media (min-width: $screen-sm-min) {
        font-size: 15px;
    }

    a {
        &.active {
            color: #e74c3c;
            position: relative;
            top: -1px;
        }

        &:hover, &:focus, &:active {
            text-decoration: none;
            color: #DBA14E;
        }
    }
}
