.project {
    margin-bottom: 40px;

    h2 {
        margin-top: 0;
        padding-bottom: 5px;

        border-bottom: 1px solid $hr-border;

        a:hover {
            text-decoration: none;
            color: #DBA14E;
        }
    }
}
