body {
    background: #faf8ef;
    color: #776e65;
    padding-bottom: 40px;
}

.page {
    margin-top: 30px;
    display: none;
}

#page-about .right {
    padding-top: 20px;
}

#page-experience h4 {
    padding-bottom: 5px;
    border-bottom: 1px solid #34495e;
}

#page-experience dd {
    margin-bottom: 15px;
}



.gametoplay, #unityPlayer {
    height: 340px;
}

article h3 {
    font-weight: bold;
}

article h3 small {
    color: #bbada0;
}
