@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @media (max-width: 639px) {
        #main-menu-toggle:checked ~ .main-menu {
            display: block;
        }

        .main-menu {
            display: none;
        }
    }
}

@layer components {
    .header-border {
        @apply border-b-8;

        border-image: linear-gradient(
            to right,
            theme('colors.violet.400') 16.6%,
            theme('colors.orange.400') 16.6%,
            theme('colors.orange.400') 33.2%,
            theme('colors.emerald.500') 33.2%,
            theme('colors.emerald.500') 49.8%,
            theme('colors.pink.400') 49.8%,
            theme('colors.pink.400') 66.4%,
            theme('colors.green.500') 66.4%,
            theme('colors.green.500') 83%,
            theme('colors.cyan.400') 83%,
            theme('colors.cyan.400') 100%
        ) 5;
    }
}
