pre.normal {
    background: none;
    margin: 0;
    border: none;
    font-size: 12px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

    span {
        font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    }
}

#duck {
    position: absolute;
    bottom: 10px;
    color: rgba(255, 255, 255, .6);
}
