---
layout: default
---

<h1>Game &mdash; {{ page.title }}</h1>

<div id="game-container"></div>

{% if page.game.instructions %}
<p>
    {{ page.game.instructions }}
</p>
{% endif %}

{% if page.game.type == 'unity' %}

<script type="text/javascript">
    <!--
    var unityObjectUrl = "http://webplayer.unity3d.com/download_webplayer-3.x/3.0/uo/UnityObject2.js";
    if (document.location.protocol == 'https:')
        unityObjectUrl = unityObjectUrl.replace("http://", "https://ssl-");
    document.write('<script type="text\/javascript" src="' + unityObjectUrl + '"><\/script>');
    -->

    $(function() {
        playunitygame('{{ page.game.file }}', '{{ page.game.width }}', '{{ page.game.height }}');
    });
</script>

{% else if page.game.type == 'js' %}

{% for file in page.game.files %}
    <script type="text/javascript" src="{{ file }}"></script>
{% endfor %}

{% endif %}
