{% extends "layouts/root.twig" %}

{% block body %}

    <body class="min-h-screen text-black leading-normal font-sans bg-gray-200">

    <div class="flex flex-col md:flex-row md:h-auto">
        <div class="bg-yellow-500" style="min-width: 300px;">

            <div class="mt-2 mb-3 mx-4 md:mx-12 md:mt-20">
                <div class="md:flex">
                    <div class="md:fixed">
                        <div class="leading-3 md:leading-normal">
                            <h1 class="text-3xl md:text-5xl font-extrabold text-black leading-normal md:leading-none">
                                Nathan<br class="hidden md:inline"/>
                                Boiron
                            </h1>
                            <h2 class="font-bold text-gray-900">
                                Web dev
                                <span class="text-yellow-500 text-sm">ʘ‿ʘ</span>
                            </h2>
                        </div>

                        <nav class="relative mt-2">
                            <input type="checkbox" class="hidden" id="main-menu-toggle" />
                            <label for="main-menu-toggle" class="md:hidden absolute right-0 text-right uppercase font-bold" style="top: -3rem;">Menu</label>
                            <div class="main-menu | pt-1 text-right md:text-left">
                                <ul class="flex flex-col mt-1 md:mt-16 md:text-2xl md:leading-relaxed">
                                    {% for name, url in urls %}
                                        <li class="{% if url.current %}font-extrabold{% endif %}">
                                            <a href="{{ url.href }}">{{ url.label }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>

                                <div class="text-4xl md:mt-10">
                                    {{ include('partials/menu/langs.twig') }}
                                </div>

                                <div class="-hidden md:block md:fixed md:bottom-0 pb-3 cursor-pointer text-left absolute bottom-0">
                                <pre class="font-mono text-xs" id="duck" aria-hidden="true">  _
<span id="duckface">-</span>(.)__
 (___/
</pre>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>

            </div>

        </div>

        <div class="bg-gray-300 md:flex-grow min-h-screen">
            <div class="md:ml-10 md:pr-10 lg:pr-20" style="max-width: 800px;">

                <div class="mt-4 md:mt-24 px-5 md:px-10">
                    {% block content %}{% endblock %}
                </div>

            </div>
        </div>
    </div>

    </body>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        (function () {
            function duckface(face) {
                document.getElementById('duckface').innerHTML = face;
            }

            document.getElementById('duck').addEventListener('click', function() {
                setTimeout(function() { duckface('>'); }, 200);
                setTimeout(function() { duckface('-'); }, 500);
                setTimeout(function() { duckface('>'); }, 800);
                setTimeout(function() { duckface('-'); }, 1100);
            });
        })();
    </script>
{% endblock %}
