{% extends "layouts/main.twig" %}

{% block content %}

    <div class="block md:hidden">
        {{ include('partials/title.twig', {title: 'Open source'}) }}
    </div>

    <div class="mt-4 md:mt-10">

        {% for project in data.projects %}
            {{ include('partials/open-source.twig') }}
        {% endfor %}

    </div>

{% endblock %}
