{% extends "layouts/main.twig" %}

{% block content %}

    {{ include('partials/title.twig', {title: 'site.pages.studies' | trans}) }}

    <div class="mt-4 md:mt-10">
        <div class="grid grid-cols-6">
            {% for school in data.studies %}
                <div class="text-right font-bold pr-8 mb-2">{{ school.year }}</div>
                <div class="text-left col-span-5">{{ school.name }}</div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
