name: QA

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  qa:
    name: QA
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: json, gd, random

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: '24.14.0'

      - name: Install dependencies
        run: make prod-setup

      - name: QA
        run: make qa

      - name: Build site
        run: make prod-build
